# MongoDB Configuration
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-address>/<options>
MONGO_DB_NAME=aide_data

# OpenAI API Key
OPENAI_API_KEY=

# Anthropic API Key
ANTHROPIC_API_KEY=

# QDRANT API Key
QDRANT_URL=
QDRANT_API_KEY=